/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.clearfix {
  content: '.';
  font-size: 0px;
  clear: both;
}
.row {
  width: 100%;
  float: left;
}
.row:after {
  content: '.';
  font-size: 0px;
  clear: both;
}
.make-hide {
  display: none;
}
@media all and (min-width: 40em) and (max-width: 80em) {
  .make-hide-xs {
    display: none;
  }
}
@media all and (min-width: 80em) and (max-width: 120em) {
  .make-hide-sm {
    display: none;
  }
}
@media all and (min-width: 120em) and (max-width: 160em) {
  .make-hide-md {
    display: none;
  }
}
@media all and (min-width: 160em) and (max-width: 240em) {
  .make-hide-lg {
    display: none;
  }
}
@media all and (min-width: 240em) and (max-width: 480em) {
  .make-hide-xl {
    display: none;
  }
}
@media not all and (min-width: 40em) and (max-width: 80em) {
  .make-show-xs {
    display: none;
  }
}
@media not all and (min-width: 80em) and (max-width: 120em) {
  .make-show-sm {
    display: none;
  }
}
@media not all and (min-width: 120em) and (max-width: 160em) {
  .make-show-md {
    display: none;
  }
}
@media not all and (min-width: 160em) and (max-width: 240em) {
  .make-show-lg {
    display: none;
  }
}
@media not all and (min-width: 240em) and (max-width: 480em) {
  .make-show-xl {
    display: none;
  }
}
[data-page-content] {
  width: 100%;
  float: left;
}
[data-page-content]:after {
  content: '.';
  font-size: 0px;
  clear: both;
}
@media all and (min-width: 40em) and (max-width: 80em) {
  [data-page-content] > *:nth-child(2n + 1) {
    clear: both;
  }
}
@media all and (min-width: 80em) and (max-width: 120em) {
  [data-page-content] > *:nth-child(3n + 1) {
    clear: both;
  }
}
@media all and (min-width: 120em) and (max-width: 160em) {
  [data-page-content] > *:nth-child(4n + 1) {
    clear: both;
  }
}
@media all and (min-width: 160em) and (max-width: 240em) {
  [data-page-content] > *:nth-child(6n + 1) {
    clear: both;
  }
}
@media all and (min-width: 240em) and (max-width: 480em) {
  [data-page-content] > *:nth-child(12n + 1) {
    clear: both;
  }
}
@media all and (min-width: 40em) and (max-width: 80em) {
  [data-page-content] [data-item] {
    float: left;
    width: 50%;
  }
}
@media all and (min-width: 80em) and (max-width: 120em) {
  [data-page-content] [data-item] {
    float: left;
    width: 33.33333333%;
  }
}
@media all and (min-width: 120em) and (max-width: 160em) {
  [data-page-content] [data-item] {
    float: left;
    width: 25%;
  }
}
@media all and (min-width: 160em) and (max-width: 240em) {
  [data-page-content] [data-item] {
    float: left;
    width: 16.66666667%;
  }
}
@media all and (min-width: 240em) and (max-width: 480em) {
  [data-page-content] [data-item] {
    float: left;
    width: 8.33333333%;
  }
}
[data-page-content] [data-item] [data-box] {
  margin: 5px;
}
@media not all and (min-width: 240em) and (max-width: 480em) {
  [data-page-content] [data-item] [data-box] [data-xl] {
    display: none;
  }
}
@media not all and (min-width: 160em) and (max-width: 240em) {
  [data-page-content] [data-item] [data-box] [data-lg] {
    display: none;
  }
}
@media not all and (min-width: 120em) and (max-width: 160em) {
  [data-page-content] [data-item] [data-box] [data-md] {
    display: none;
  }
}
@media not all and (min-width: 80em) and (max-width: 120em) {
  [data-page-content] [data-item] [data-box] [data-sm] {
    display: none;
  }
}
@media not all and (min-width: 40em) and (max-width: 80em) {
  [data-page-content] [data-item] [data-box] [data-xs] {
    display: none;
  }
}
[data-page-content] [data-item] [data-box] h1 {
  font-size: 2em;
  font-weight: bold;
}
