.clearfix {
  content: '.';
  font-size: 0px;
  clear: both;
}
.row {
  width: 100%;
  float: left;
}
.row:after {
  content: '.';
  font-size: 0px;
  clear: both;
}
.hide {
  display: none;
}
@media all and (min-width: 0em) and (max-width: 39.999em) {
  .hide-zs {
    display: none;
  }
}
@media all and (min-width: 40em) and (max-width: 79.999em) {
  .hide-xs {
    display: none;
  }
}
@media all and (min-width: 80em) and (max-width: 119.999em) {
  .hide-sm {
    display: none;
  }
}
@media all and (min-width: 120em) and (max-width: 159.999em) {
  .hide-md {
    display: none;
  }
}
@media all and (min-width: 160em) and (max-width: 239.999em) {
  .hide-lg {
    display: none;
  }
}
@media all and (min-width: 240em) and (max-width: 480em) {
  .hide-xl {
    display: none;
  }
}
@media not all and (min-width: 0em) and (max-width: 39.999em) {
  .show-zs {
    display: none;
  }
}
@media not all and (min-width: 40em) and (max-width: 79.999em) {
  .show-xs {
    display: none;
  }
}
@media not all and (min-width: 80em) and (max-width: 119.999em) {
  .show-sm {
    display: none;
  }
}
@media not all and (min-width: 120em) and (max-width: 159.999em) {
  .show-md {
    display: none;
  }
}
@media not all and (min-width: 160em) and (max-width: 239.999em) {
  .show-lg {
    display: none;
  }
}
@media not all and (min-width: 240em) and (max-width: 480em) {
  .show-xl {
    display: none;
  }
}
